<select id="type">
    <option value="si">Celsius</option>
    <option value="us">Fahrenheit</option>
</select>

<form>
    <input type="text" id="location" placeholder="location" />
    <button>Submit</button>
</form>

<p id="feedback"></p>

<script src="js/main.js"></script>